/* CSS RESET */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ROOT VARIABLES */
:root {
  --rapid-black: rgba(25, 25, 25, 0.9);
  --rapid-pink: rgb(199, 10, 198);
  --rapid-white: rgb(255, 244, 240);
  --rapid-yellow: rgb(254, 184, 32);
  --rapid-orange: rgb(255, 94, 32);
  --rapid-gray: rgb(242, 242, 242);
}

/* PANEL STYLING */
body {
  padding: 1em;
  background: var(--rapid-black);
  color: var(--rapid-white);
  font-family: monospace;
}

.title {
  font-size: 1.5em;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 0.4em;
}

#logo {
  height: 1.5em;
}

button {
  border: 0;
  background: var(--rapid-pink);
  color: var(--rapid-white);
  font-size: 1.5em;
  border-radius: 30px;
  height: 1.5em;
}

h1 {
  font-weight: 600;
  font-size: 1em;
  display: inline-block;
}